<body style="text-align:center">
	<div class="container" ng-controller="ToDoController">
		<div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-5 col-lg-offset-3 col-lg-5">
			<h2>ToDo App</h2>
			<!-- Form Starts Here -->
			<div class="form">
				<div class="input-group">
					<input type="text" class="form-control" [(ngModel)]="itemName">
					<span class="input-group-btn">
					<button class="btn btn-default" type="button" (click)="addItem(itemName)">
						<span class="glyphicon glyphicon-plus" ></span> Add Item</button>
					</span>
					<!---->
				</div>
			</div>
			<hr/>
			<div id="appAlerts">

			</div>

			<div *ngFor="let itemBox of itemBoxes">
				<ul class="list-group">
					<li class="list-group-item clearfix">
						<ng-template [ngTemplateOutlet]="templateForItems" [ngOutletContext]="{itemBox:itemBox}"></ng-template>
					</li>
				</ul>
			</div>


			<div *ngIf="itemBoxesBought.length > 0">
				<h3>Items bought</h3>
				<span *ngFor="let itemBox of itemBoxesBought">
				<ul class="list-group">
					<li class="list-group-item clearfix" style="background-color: #ececec;">
						<ng-template [ngTemplateOutlet]="templateForItems" [ngOutletContext]="{itemBox:itemBox}"></ng-template>
					</li>
				</ul>
				</span>
			</div>

			Total Items: {{totalCount}}, Total Price: {{totalPrice}}$
		</div>
	</div>
</body>




<!-- Templates -->

<ng-template #templateForItems let-itemBox="itemBox">
	<!--<span class="foo" [ngStyle]='{"background-color" : itemBox.item.color}'></span>-->
	<div style="height: 26px;">

		<span [id]="itemBox.item.id + '_name'">{{itemBox.item.name}}</span>

		<span style="float: right;" [id]="itemBox.item.id + '_price'">
			{{itemBox.item.price}} $
		</span>

	</div><br>
	<!--<span style="float: right;"><span [id]="itemBox.item.id + '_price'">{{itemBox.item.price}}</span>$</span>-->
	<div>
		<span class="pull-right">
		<span [id]="itemBox.item.id + '_editOK'">
	  		<button class="btn btn-default btn-xs" (click)="this[itemBox.editFunctionNameButton](itemBox)"><span class="glyphicon glyphicon-pencil"></span></button>
		</span>
		<span [id]="itemBox.item.id + '_editCancel'">

		</span>
		<span [id]="itemBox.item.id + '_bought'">
			<span *ngIf="itemBox.item.bought == false; else boughtTrueIcon">
				<button class="btn btn-primary btn-xs" (click)="markItemBought(itemBox)"><span class="glyphicon glyphicon-ok"></span></button>
		</span>
		<ng-template #boughtTrueIcon>
			<button class="btn btn-primary btn-xs" (click)="markItemBought(itemBox)"><span class="glyphicon glyphicon glyphicon-minus"></span></button>
		</ng-template>
		</span>
		<span [id]="itemBox.item.id + '_delete'">
			<button class="btn btn-danger btn-xs" (click)="deleteItem(itemBox)"><span class="glyphicon glyphicon-remove"></span></button>
		</span>
		</span>
	</div>
</ng-template>